body {
    background-color: black;
    text-align: center;
    margin-top: 200px;
    max-height: 100%;
    max-width: 100%;
    color: white;
    font-size: 25px;
}

body.earth {
    background-color: #8d8468;
}

#game-title {
    margin-top: -300px;
    margin-bottom: 0px;
}

#startButton {
    background-color: #FFBE4F;
    font-size: 15px;
    padding: 10px 25px 10px 25px;
    margin: 10px 0px 0px 0px;
    border-radius: 5px;
    border-style: none;
    position: absolute;
}

.level {
    font-size: 22px;
    margin-top: -110px;
}

input {
    margin: 100px 2px 0px 0px;
}

span {
    font-size: 22px;
}

#red {
    margin: 15px;
    padding: 60px 240px 60px 60px;
    background-color: #FF7069;
    border-radius: 10px;
    border-style: none;
    transform: rotate(45deg);
}

#red.inactive {
    background-color: red;
}

#red.earth {
    background-color: #b7410e;
}

#yellow {
    margin: 15px;
    padding: 60px 240px 60px 60px;
    background-color: #FFFA63;
    border-radius: 10px;
    border-style: none;
    transform: rotate(-45deg);
}

#yellow.inactive {
    background-color: gold;
}

#yellow.earth {
    background-color: #DFAF5E;
}

#blue {
    margin: 15px;
    padding: 60px 240px 60px 60px;
    background-color: #6EAAFF;
    border-style: none;
    border-radius: 10px;
    transform: rotate(-45deg);
}

#blue.inactive {
    background-color: blue;
}

#blue.earth {
    background-color: #6a9eba;
}

#green {
    margin: 15px;
    padding: 60px 240px 60px 60px;
    background-color: #98F77E;
    border-radius: 10px;
    border-style: none;
    transform: rotate(45deg);
}

#green.inactive {
    background-color: green;
}

#green.earth {
    background-color: #596649;
}

#bottom-buttons {
    margin-top: 200px;
}

@media screen and (max-width: 800px) {
    body {
        margin-top: 10px;
    }
    #blue {
        padding: 35px 105px 35px 105px;
        transform: none;
    }
    #green {
        padding: 35px 105px 35px 105px;
        transform: none;
    }
    #yellow {
        padding: 35px 105px 35px 105px;
        transform: none;
    }
    #red {
        padding: 35px 105px 35px 105px;
        transform: none;
    }
    #game-title {
        margin-top: -250px;
        margin-bottom: -20px;
    }
    #startButton {
        margin-top: 30px;
    }
    .level {
        margin-top: -90px;
    }
    #bottom-buttons {
        margin-top: 150px;
    }
    input {
        margin: 100px 0px 0px 0px;
    }
}

@media screen and (max-width: 500px) {
    #game-title {
        margin-top: -360px;
        margin-bottom: -20px;
    }
    #startButton {
        margin: 30px 0px 0px 5px;
    }
    input {
        margin: 105px 10px 0px 0px;
    }
}