body {
    background-color: black;
    text-align: center;
    margin-top: 200px;
    max-height: 100%;
    max-width: 100%;
    color: white;
    font-size: 25px;
}

body.earth {
    background-color: #8d8468;
}

#game-title {
    margin-top: -350px;
    margin-bottom: 0px;
}

h4 {
    margin-top: -25px;
}

#startButton {
    background-color: #FFBE4F;
    font-size: 15px;
    padding: 10px 25px 10px 25px;
    margin: 0px 0px 0px 0px;
    border-radius: 5px;
    border-style: none;
    position: absolute;
}

.level {
    font-size: 22px;
    margin-top: -125px;
}

input {
    margin: 100px 2px 0px 0px;
}

span {
    font-size: 22px;
}

button[name="color"] {
    margin: 15px;
    padding: 60px 240px 60px 60px;
    border-radius: 10px;
    border-style: none;
}

#red {
    background-color: #FF7069;
    transform: rotate(45deg);
}

#red.inactive {
    background-color: red;
}

#red.earth {
    background-color: #b7410e;
}

#yellow {
    background-color: #FFFA63;
    transform: rotate(-45deg);
}

#yellow.inactive {
    background-color: gold;
}

#yellow.earth {
    background-color: #DFAF5E;
}

#blue {
    background-color: #6EAAFF;
    transform: rotate(-45deg);
}

#blue.inactive {
    background-color: blue;
}

#blue.earth {
    background-color: #6a9eba;
}

#green {
    background-color: #98F77E;
    transform: rotate(45deg);
}

#green.inactive {
    background-color: green;
}

#green.earth {
    background-color: #596649;
}

#bottom-buttons {
    margin-top: 200px;
}

@media screen and (max-width: 800px) {
    button[name="color"] {
        margin: 40px 0px -20px 0px;
        padding: 35px 105px 35px 105px;
    }

    #blue {
        transform: none;
    }

    #red {
        transform: none;
    }

    #green {
        transform: none;
    }

    #yellow {
        transform: none;
    }

    #bottom-buttons {
        margin-top: 150px;
    }

    #game-title {
        margin-top: -250px;
        margin-bottom: -20px;
    }

    #startButton {
        margin-top: 30px;
    }

    .level {
        margin-top: -90px;
    }

    input {
        margin: 100px 0px 0px 0px;
    }
}

@media screen and (max-width: 500px) {
    body {
        margin-top: 0px;
    }
    
    #bottom-buttons {
        margin-top: 200px;
    }

    #game-title {
        margin-top: -350px;
        margin-bottom: -10px;
        font-size: 50px;
    }

    #startButton {
        margin: -10px 0px 0px 5px;
    }

    .level {
        font-size: 18px;
    }

    input {
        margin: 60px 10px 0px 0px;
    }
}